{% extends "base.html" %} {%load static%} {%block stylelink%}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

<script
  src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js"
  crossorigin="anonymous"
  defer
></script>
<link
  href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css"
  rel="stylesheet"
  crossorigin="anonymous"
/>
{%endblock%} {%block content%}
<div class="home_cont">
  <h3>Home Page</h3>
</div>
{%endblock%}
