.buttons {
background-color: #009970;
color: #fff;
font-size: 14px;
padding: 8px 20px;
border-radius: 50px;
text-decoration: none;
transition: 0.3s background-color;
margin-left: 10px;
}

.buttons:hover {
background-color: #00b383;
}

.navbar-toggler {
border: none;
font-size: 1.25 rem;
}

.navbar-toggler:focus,
.btn-close:focus {
box-shadow: none;
}

.nav-link {
color: #666777;
font-weight: bold;
}

.nav-link:hover,
.nav-link:active {
color: #000;
}

.nav {
padding-top: 20px;
padding-bottom: 20px;
padding-left: 70px;
padding-right: 70px;
background-color: orange;
margin: 0;
}

.comp_name {
font-size: 25px;
font-weight: bolder;
}

.demo_product_cont{
    margin-top: 120px;
}

.sec_title{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 40px;
}

@media only screen and (max-width: 420px){
.nav {
    padding-left: 10px;
}
}
