{% extends "base.html" %} {%load static%} {%block stylelink%}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />

{%endblock%} {%block content%}
<div class="profile_container">
  <div class="balance_cont">
    <p class="balance">Balance: <span>{{bal}}</span> Taka</p>
  </div>
  <div class="info_skills">
    <div class="info_box">
      <h3 class="sec_title">Personal Information</h3>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">User ID</label>
        <input
          type="text"
          class="form-control form_box"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
          value="{{user.id}}"
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >User Name</label
        >
        <input
          type="email"
          class="form-control form_box"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
          value="{{user.username}}"
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >User Email</label
        >
        <input
          type="email"
          class="form-control form_box"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
          value="{{user.email}}"
          readonly
        />
        <a href="" class="btn btn-primary mt-4">Change Password</a>
      </div>
    </div>

    <div class="purchased_history_box">
      <h3 class="sec_title">Purchased History</h3>
      <div class="table-responsive">
        <table class="table table-dark table-borderless">
          <thead>
            <tr>
              <th>Product ID</th>
              <th>Product Name</th>
              <th>Product Price</th>
            </tr>
          </thead>
          <tbody>
            {% for prod in prods %}
              </td>
              <td>{{ prod.product.id }}</td>
              <td>{{ prod.product.name }}</td>
              <td>{{ prod.product.price }} Taka</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="depo_history_box">
      <h3 class="sec_title">Deposite History</h3>
      <div class="table-responsive">
        <table class="table table-dark table-borderless">
          <thead>
            <tr>
              <th>Deposit ID</th>
              <th>Deposit Amount</th>
              <th>Deposite Date And Time</th>
            </tr>
          </thead>
          <tbody>
            {%for dipo in dipos%}
            <tr>
              <td>{{dipo.id}}</td>
              <td>{{dipo.deposit_amount}} Taka</td>
              <td>{{dipo.date_time_field}}</td>
            </tr>
            {%endfor%}

            <!-- Add more rows as needed -->
          </tbody>
        </table>
        <div>
          <a class="load_btn btn btn-primary mb-3" href="" id="btn"
            >Load More&nbsp&nbsp<i class="fas fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%} {%block ScriptLink%} {%endblock%}
